html,
body {
    height: 100%;
color: whitesmoke;
background-color:#808080;

}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
     background-color:#0FC6C0;
font-family: Monda;
font-weight: bold;
    padding-top: 20px;
    color: whitesmoke;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}



.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
    background-color: #EFF5F9;
   
}
.grid-view th a{
     color:#0FC6C0;
}

.grid-view table tbody tr {
    background-color: #0FC6C0 !important;
    color: #EFF5F9 !important;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #EFF5F9 !important;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.titulo-index{
    width:700px;
    height:250px;
}



.site-index > .body-content> .row > .col-sm-3 >.caption{
    background-color: rgba(15,198,192,0.5);
    position: relative;
  text-align: center;
color:#EFF5F9 !important;
    font-size:x-large;
    font-weight: bold;
       font-family:Monda;
}

.site-index > .body-content> .row > .col-sm-3 >.caption:hover {
    background-color: #EFF5F9 ;
    color:#0FC6C0 !important;
/*    position: relative;*/
  text-align: center;
    font-size:x-large;
    font-weight: bold;
       font-family:Monda;
}

.site-index > .body-content> .row > .col-sm-3 >.caption:hover a{
    color: #0FC6C0 !important; 
}

.site-index > .body-content> .row > .col-sm-4 >.caption{
    background-color: rgba(15,198,192,0.5);
    position: relative;
  text-align: center;
color:#EFF5F9 !important;
    font-size:x-large;
    font-weight: bold;
       font-family:Monda;
}

.site-index > .body-content> .row > .col-sm-4 >.caption:hover {
    background-color: #EFF5F9 ;
    color:#0FC6C0 !important;
/*    position: relative;*/
  text-align: center;
    font-size:x-large;
    font-weight: bold;
       font-family:Monda;
}

.site-index > .body-content> .row > .col-sm-4 >.caption:hover a{
    color: #0FC6C0 !important; 
}

.body-content> .row > .col-sm-8 >.caption{
    background-color: rgba(15,198,192,0.5);
    position: relative;
  text-align: center;
color:#EFF5F9 !important;
    font-size:x-large;
    font-weight: bold;
       font-family:Monda;
}

.body-content> .row > .col-sm-8 >.caption:hover {
    background-color: #EFF5F9 ;
    color:#0FC6C0 !important;
/*    position: relative;*/
  text-align: center;
    font-size:x-large;
    font-weight: bold;
       font-family:Monda;
}

 .body-content> .row > .col-sm-8 >.caption:hover a{
    color: #0FC6C0 !important; 
}


/* CODIGO PARA EDITAR EL ESTILO 
DE LOS ENLACES*/
a{

          color: #EFF5F9;
          font-weight:bold;

}

a:hover {
      background-color: #EFF5F9 ;
 color: #0FC6C0 !important; 
}

/*CODIGO PARA EDITAR EL ESTILO DE LAS MIGAS DE PAN*/
.breadcrumb{
    background-color:rgba(15,198,192,0.5);  
}

.breadcrumb > .active {
    color: #EFF5F9;
    font-weight: bold;
    font-family:Monda;
}

.breadcrumb a{
    color: #EFF5F9;
       font-weight: bold;
       font-family:Monda;
}

.breadcrumb a:hover{
    background-color: transparent;
    color: #EFF5F9 !important; 
   
}

/*CODIGO PARA COLOCAR LAS OPCIONES EN LAS VISTAS*/
.opciones{
    margin-top: 60px;
}

/*CODIGO PARA COLOCAR BOTONES EN LAS VISTAS DE LAS OPCIONES*/
.colocacionbotonopciones{
    margin-top: 45px;
}

/*CODIGO PARA EDITAR LOS BOTONES PERSONALIZADOS*/
.btn-marta{
    background-color: #0FC6C0;
    color: #EFF5F9;
    font-weight: bold;
}

.btn-marta:hover{
     background-color: #EFF5F9;
    color: #0FC6C0;
    font-weight: bold;
}

/*CODIGO CSS QUE EDITA LOS ENLACES A LAS PAGINAS DE UNA CONSULTA*/
.pagination > li > a, .pagination > li > span{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
     color:#EFF5F9;
    background-color:  #0FC6C0;
    border: 1px solid transparent;
}

/*CODIGO CSS QUE EDITA EL PRIMER HIJO DE LA LISTA 
DE ENLACES PARA ACCEDER A LAS PÁGINAS*/
.pagination > li:first-child > a, .pagination > li:first-child > span{
   color:#EFF5F9;
    background-color:  #0FC6C0;
    border: 1px solid transparent;
    
}

/*CODIGO CSS QUE EDITA EL ULTIMO HIJO DE LA LISTA 
DE ENLACES PARA ACCEDER A LAS PÁGINAS*/
.pagination > li:last-child > a, .pagination > li:last-child > span{
     color:#EFF5F9;
    background-color:  #0FC6C0;
    border: 1px solid transparent;
        
    
}

/*CODIGO CSS QUE EDITA EL ESTILO DE LA PÁGINA ACTIVADA EN LA VISTA DE CONSULTA,
BIEN SEA DEL CRUD, DE CASO DE USO O DE CONSULTA SIN MAS*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active >
a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    color:#EFF5F9;
    background-color: #004146;
}

/*CSS QUE CAMBIA EL COLOR DE TODOS LOS TITULOS H1 
AL COLOR #004146*/
h1{
    color: #EFF5F9;
    font-weight: bold;
      font-family: Monda;
    text-align: center;
}


/*CSS QUE CAMBIA EL COLOR DE TODOS LOS TITULOS H1 
AL COLOR #004146*/
h2{
    color: #004146;
    font-weight: bold;
  
}

/*CSS PARA CAMBIAR EL COLOR DEL
TEXTO QUE APARECE EN EL APARTADO SUPERIOR DE LAS TABLAS
DEL GRIDVIEW, EL MOSTRANDO*/

.summary{
    color: #EFF5F9;
    
}

/*CSS PARA CAMBIAR EL COLOR Y 
EL PESO DE FUENTE DE LOS APARTADOS 
QUE NO ESTÁN DEFINIDOS EN LAS TABLAS*/
.not-set{
    color:#EFF5F9;
    font-weight:bold;
}

li{
    color:#004146;
}

.proveedores-form{
    color:#EFF5F9;
}

.clientes-form{
     color:#EFF5F9;
}



.empleados-form{
    color:#EFF5F9;
}

.tlfs-intermediarios-form{
   color:#EFF5F9; 
/*       background-color: white;*/
}

.btn-marta-guardar{
    background-color: #EFF5F9;
    color: #0FC6C0;
    font-weight: bold;
}

.btn-marta-guardar:hover{
    background-color: #0FC6C0;
    color: #EFF5F9;
    font-weight: bold;
}

.table > tbody > tr{
    
   background-color: #0FC6C0 !important;
    color:#EFF5F9 !important;
    
}

.table > tbody > tr > th{
    
     background-color: #EFF5F9 !important;
    color:#0FC6C0 !important;
    
}
/*.presentacion{
    margin-top:250px;
}*/

.thumbnail{
   background-color:transparent; 
   border-color: transparent;
    
}

h3{
    background-color: rgba(0,65,70,0.5) !important;
    color:#EFF5F9;
    font-weight: bold;
    font-family: Monda;
    text-align: center;
    
}

.informacion{
    
     background-color: rgba(239,245,249,0.5);
 
}

.pedidos-form{
    color:#EFF5F9;
}

.ventas-form{
    color:#EFF5F9;
}

.almacenes-form{
      color:#EFF5F9;
}

.productos-form{
  color:#EFF5F9;
}

.cambios-form{
   color:#EFF5F9;
}

.materiales-form{
    color:#EFF5F9;
}

.maquinas-form{
    color:#EFF5F9;
}

.proyectos-form{
  color:#EFF5F9;
}
.intermediarios-form{
    color:#EFF5F9;

}

.recepciones-menu{
/*      background-color: rgba(15,198,192,0.5);
*/         font-size:x-large;
    font-weight: bold;
       font-family:Monda;
}




.hasDatepicker {
    color:black !important;
}
/*input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}*/